<div class="field">
  <label for="investor_name">Name</label><br />
  <input id="investor_name" name="investor[name]" size="30" type="text" ng-model="investor.name" />
</div>

<div class="field">
  <label for="investor_total_cost">Total Cost</label><br />
  <input id="investor_total_cost" total_cost="investor[total_cost]" size="30" type="text" ng-model="investor.total_cost" />
</div>

<div class="field">
  <label for="investor_total_value">Total Value</label><br />
  <input id="investor_total_value" total_value="investor[total_value]" size="30" type="text" ng-model="investor.total_value" />
</div>

